

/*header styles*/

#nav h1 {
	text-align: center;
}

#nav h5 {
	text-align: center;
}

#title {
	margin: auto;
	width: 33%;
	border: solid grey 6px;
	border-radius: 4px;
}

#title h1 {
	margin-bottom: 0px;
	text-align: center;
	font-family: "Patua One";
}

#title h5 {
	margin-top: 0px;
	text-align: center;
	font-family: "Josefin Sans"
}

a {
	text-decoration: none;
	color: black;
}

/*dropdown menu styles*/


/*Styles within the changing view*/
#view {
	margin: auto;
	display: block;
}

.viewheading {
	margin-top: 30px;
	font-family: "Josefin Sans";
	text-align: center;
}

/*Static Footer Styles*/
#footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 40px;
   width: 100%;
   background: grey;
}