

/*header styles*/

#nav h1 {
	text-align: center;
}

#nav h5 {
	text-align: center;
}

#title {
	margin: auto;
	width: 33%;
	border: solid grey 6px;
	border-radius: 4px;
}

#title h1 {
	margin-bottom: 0px;
	text-align: center;
	font-family: "Patua One";
}

#title h5 {
	margin-top: 0px;
	text-align: center;
	font-family: "Josefin Sans"
}

a {
	text-decoration: none;
	color: black;
}

/*dropdown menu styles*/
#dropdown {
	margin: auto;
	display: block;
}

button {
	display: block;
	padding: 15px;
	margin: auto;
	border: none;
	background: white;
	color: black;
	font-family: "Josefin Sans";
}

#dropcontent {
	display: block;
	padding: 15px;
	margin: auto;
	text-align: center;
}

button:focus { 
	outline:0 !important; 
}

#dropdown-nav {
	list-style-type: none;
	font-family: "Josefin Sans";
	padding: 0;
	margin: auto;
	display: block;
	text-align: center;
}

/*Styles within the changing view*/
#view {
	margin: auto;
	display: block;
}

.viewheading {
	margin-top: 30px;
	font-family: "Patua One";
	text-align: center;
}

/*Static Footer Styles*/
#footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 40px;
   width: 100%;
   background: white;
}